<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>url</key>
		<string>/api/tv/page/5</string>
		<key>name</key>
		<string>特色</string>
		<key>image</key>
		<string>icon_hot</string>
	</dict>
	<dict>
		<key>url</key>
		<string>/api/tv/page/2</string>
		<key>name</key>
		<string>央视</string>
		<key>image</key>
		<string>icon_cctv</string>
	</dict>
	<dict>
		<key>url</key>
		<string>/api/tv/page/7</string>
		<key>name</key>
		<string>卫视</string>
		<key>image</key>
		<string>icon_star</string>
	</dict>
	<dict>
		<key>url</key>
		<string>/api/tv/page/4</string>
		<key>name</key>
		<string>地方台</string>
		<key>image</key>
		<string>icon_local</string>
	</dict>
	<dict>
		<key>url</key>
		<string>/api/tv/page/3</string>
		<key>name</key>
		<string>体育</string>
		<key>image</key>
		<string>icon_sport</string>
	</dict>
	<dict>
		<key>url</key>
		<string>/api/tv/page/18</string>
		<key>name</key>
		<string>港澳台</string>
		<key>image</key>
		<string>icon_game</string>
	</dict>
	<dict>
		<key>url</key>
		<string>/api/tv/page/6</string>
		<key>name</key>
		<string>电影</string>
		<key>image</key>
		<string>icon_movie</string>
	</dict>
	<dict>
		<key>url</key>
		<string>/api/tv/prop/0</string>
		<key>name</key>
		<string>全部</string>
		<key>image</key>
		<string>icon_all</string>
	</dict>
</array>
</plist>
