<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>shortname</key>
		<string>北京</string>
		<key>fullname</key>
		<string>北京</string>
		<key>code</key>
		<string>110000</string>
	</dict>
	<dict>
		<key>shortname</key>
		<string>天津</string>
		<key>fullname</key>
		<string>天津</string>
		<key>code</key>
		<string>120000</string>
	</dict>
	<dict>
		<key>shortname</key>
		<string>河北</string>
		<key>fullname</key>
		<string>河北省</string>
		<key>code</key>
		<string>130000</string>
	</dict>
	<dict>
		<key>shortname</key>
		<string>山西</string>
		<key>fullname</key>
		<string>山西省</string>
		<key>code</key>
		<string>140000</string>
	</dict>
	<dict>
		<key>shortname</key>
		<string>内蒙古</string>
		<key>fullname</key>
		<string>内蒙古自治区</string>
		<key>code</key>
		<string>150000</string>
	</dict>
	<dict>
		<key>shortname</key>
		<string>辽宁</string>
		<key>fullname</key>
		<string>辽宁省</string>
		<key>code</key>
		<string>210000</string>
	</dict>
	<dict>
		<key>shortname</key>
		<string>吉林</string>
		<key>fullname</key>
		<string>吉林省</string>
		<key>code</key>
		<string>220000</string>
	</dict>
	<dict>
		<key>shortname</key>
		<string>黑龙江</string>
		<key>fullname</key>
		<string>黑龙江省</string>
		<key>code</key>
		<string>230000</string>
	</dict>
	<dict>
		<key>shortname</key>
		<string>上海</string>
		<key>fullname</key>
		<string>上海</string>
		<key>code</key>
		<string>310000</string>
	</dict>
	<dict>
		<key>shortname</key>
		<string>江苏</string>
		<key>fullname</key>
		<string>江苏省</string>
		<key>code</key>
		<string>320000</string>
	</dict>
	<dict>
		<key>shortname</key>
		<string>浙江</string>
		<key>fullname</key>
		<string>浙江省</string>
		<key>code</key>
		<string>330000</string>
	</dict>
	<dict>
		<key>shortname</key>
		<string>安徽</string>
		<key>fullname</key>
		<string>安徽省</string>
		<key>code</key>
		<string>340000</string>
	</dict>
	<dict>
		<key>shortname</key>
		<string>福建</string>
		<key>fullname</key>
		<string>福建省</string>
		<key>code</key>
		<string>350000</string>
	</dict>
	<dict>
		<key>shortname</key>
		<string>江西</string>
		<key>fullname</key>
		<string>江西省</string>
		<key>code</key>
		<string>360000</string>
	</dict>
	<dict>
		<key>shortname</key>
		<string>山东</string>
		<key>fullname</key>
		<string>山东省</string>
		<key>code</key>
		<string>370000</string>
	</dict>
	<dict>
		<key>shortname</key>
		<string>河南</string>
		<key>fullname</key>
		<string>河南省</string>
		<key>code</key>
		<string>410000</string>
	</dict>
	<dict>
		<key>shortname</key>
		<string>湖北</string>
		<key>fullname</key>
		<string>湖北省</string>
		<key>code</key>
		<string>420000</string>
	</dict>
	<dict>
		<key>shortname</key>
		<string>湖南</string>
		<key>fullname</key>
		<string>湖南省</string>
		<key>code</key>
		<string>430000</string>
	</dict>
	<dict>
		<key>shortname</key>
		<string>广东</string>
		<key>fullname</key>
		<string>广东省</string>
		<key>code</key>
		<string>440000</string>
	</dict>
	<dict>
		<key>shortname</key>
		<string>广西</string>
		<key>fullname</key>
		<string>广西壮族自治区</string>
		<key>code</key>
		<string>450000</string>
	</dict>
	<dict>
		<key>shortname</key>
		<string>海南</string>
		<key>fullname</key>
		<string>海南省</string>
		<key>code</key>
		<string>460000</string>
	</dict>
	<dict>
		<key>shortname</key>
		<string>重庆</string>
		<key>fullname</key>
		<string>重庆</string>
		<key>code</key>
		<string>500000</string>
	</dict>
	<dict>
		<key>shortname</key>
		<string>四川</string>
		<key>fullname</key>
		<string>四川省</string>
		<key>code</key>
		<string>510000</string>
	</dict>
	<dict>
		<key>shortname</key>
		<string>贵州</string>
		<key>fullname</key>
		<string>贵州省</string>
		<key>code</key>
		<string>520000</string>
	</dict>
	<dict>
		<key>shortname</key>
		<string>云南</string>
		<key>fullname</key>
		<string>云南省</string>
		<key>code</key>
		<string>530000</string>
	</dict>
	<dict>
		<key>shortname</key>
		<string>西藏</string>
		<key>fullname</key>
		<string>西藏自治区</string>
		<key>code</key>
		<string>540000</string>
	</dict>
	<dict>
		<key>shortname</key>
		<string>陕西</string>
		<key>fullname</key>
		<string>陕西省</string>
		<key>code</key>
		<string>610000</string>
	</dict>
	<dict>
		<key>shortname</key>
		<string>甘肃</string>
		<key>fullname</key>
		<string>甘肃省</string>
		<key>code</key>
		<string>620000</string>
	</dict>
	<dict>
		<key>shortname</key>
		<string>青海</string>
		<key>fullname</key>
		<string>青海省</string>
		<key>code</key>
		<string>630000</string>
	</dict>
	<dict>
		<key>shortname</key>
		<string>宁夏</string>
		<key>fullname</key>
		<string>宁夏回族自治区</string>
		<key>code</key>
		<string>640000</string>
	</dict>
	<dict>
		<key>shortname</key>
		<string>新疆</string>
		<key>fullname</key>
		<string>新疆维吾尔自治区</string>
		<key>code</key>
		<string>650000</string>
	</dict>
	<dict>
		<key>shortname</key>
		<string>台湾</string>
		<key>fullname</key>
		<string>台湾</string>
		<key>code</key>
		<string>710000</string>
	</dict>
	<dict>
		<key>shortname</key>
		<string>香港</string>
		<key>fullname</key>
		<string>香港特别行政区</string>
		<key>code</key>
		<string>810000</string>
	</dict>
	<dict>
		<key>shortname</key>
		<string>澳门</string>
		<key>fullname</key>
		<string>澳门特别行政区</string>
		<key>code</key>
		<string>820000</string>
	</dict>
	<dict>
		<key>shortname</key>
		<string></string>
		<key>fullname</key>
		<string></string>
		<key>code</key>
		<string></string>
	</dict>
</array>
</plist>
